<div >
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName"><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email"><br><br>

        <button type="submit" [disabled]="myForm.invalid">Update</button>
        <button (click)="goBack()" class="md-2">BACK</button>

    </form>
</div>

